*{
    margin: 0px;
    padding: 0px;

}

/* navabar  */
#navbar{
    display: flex;
   

}

#navbar::before{
    content: " ";
    position: absolute;
    background: rgb(216, 36, 36) ;
    width:100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}
#navbar .logo{

    width: 40%;
    height: 100px;
}
#navbar .logo h4{
    text-align: center;
    float: left;
    padding: 0px;
    margin: 0px;
}

#navbar .logo img{
    width: 30%;
    height: 120px;
   
}
#navbar .navigation ul{
    display: flex;
    flex-wrap: wrap;
    
    

}
#navbar .navigation .btns{
    list-style: none;
    text-align: center;
    margin: 30px;
    padding: 3px;
    font-weight: bold;
    font-family: 'Water Brush', cursive;
    font-family: 'Water Brush', cursive;
    color: white;
    font-size: 25px;
    
    background-color: rgb(58, 148, 238);
    border-radius: 30px;
    transition: 1s;
   }
#navbar .navigation .btns a{
    text-decoration: none;
    color: white;
}   
#navbar .navigation .btns:hover{
    background: black;
    color: white;
    /* border: solid black 4px; */
    border-bottom: 4px solid gold;
    border-radius: 20px;
    transition: 1sec;
}
#navbar .navigation .list{
    list-style: none;
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-family: 'Water Brush', cursive;
    color: white;
    font-size: 25px;
    padding: 5px;
    
    
    
}
#navbar .navigation .list a{
    text-decoration: none;
    color: white;
}
#navbar .navigation .list:hover{
   
    background-color: rgb(58, 148, 238);
    border-radius: 30px;
   
}

/* home page  */
#home::before{
    content: " ";
    position: absolute;
    background: url(back.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
}
#home{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
    height: 1080px;
    
}
/* #home .header{
    align-items: right;
    justify-content: right;
    
} */
#home h1{
    float: right;
    font-size: 50px;
    text-align: center;
    font-family: 'Water Brush', cursive;;
    color: white;
    

}
#home p{
    margin:10px;
    width: 50%;
    text-align: center;
    float: right;
    flex-wrap: wrap;
    font-family: 'Water Brush', cursive;
    color: white;
    font-size: 20px;
}
#home .btn button{
    
   float: right;
   
   margin-top: 30px;
   padding: 5px;
   margin-right: 250px;
   font-weight: bold;
    font-family: 'Water Brush', cursive;
    color: white;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(58, 148, 238);
    border-radius: 30px;

   
    

}

#home .btn button a{
    text-decoration: none;
    color: white;
    font-family: 'Water Brush', cursive;
    
}
#home p:hover{
    color: red;
}
#home .btn button:hover{
    
    
    background: black;
    color: white;
    /* border: solid black 4px; */
    border-bottom: 4px solid gold;
    border-radius: 20px;
    transition: 1s;
     
 
 }
 #home .btn button a:hover{
     color: white;
     transition: 1s;
 }

 /* MAIN SERVICEA PART  */
#service{
    margin-top: 300px;
    width: 100%;
    background: url(pro1.jpg) no-repeat center center/cover;
    height: 1080px;

    
    

}
#service h2{
    font-size: 50px;
    margin-bottom: 250px;
    text-align: center;
    font-weight: 900;
    font-family: 'Water Brush', cursive;;
    color: white;
    padding-top: 200px;
}
 /* /* #pro::before{
    content: " ";
    position: absolute;
    background: url(pro1.jpg) no-repeat center center/cover;
    width: 100%;
    right: 0;
    margin-top: 80px;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

    

 }/* */

#service .co {
    display: flex;
    
}
#service .co .cont{
    width: 25%;
    margin: 5px;
    height:350px;
    margin-bottom: 300px;
}
#service .co .cont img{
    width: 100%;
    overflow: hidden;
    height: 100%;
    
}
/* video  */
#team h2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Water Brush', cursive;
    font-size: 50px;
    margin-bottom: 50px;

}
#team .video{
    display: flex;
    margin: 5%;

}
#team .video .vid{
    width: 40%;
    height: auto;
}
#team .video .vid video{
    width: 100%;
    padding: 20px;
}
#team .video .text{
    width: 40%;
    height: auto;
    margin-left: 100px;
    
}
#team .video .text span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Water Brush', cursive;
}
/* feedback form  */



.feed{
    text-align: center;
    margin-top: 10px;
    background: url(feed.jpg);
    width: 100%;
    height: auto;

}
.feed h2{

    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
    font: weight 500px;;
}
.feed form{
    margin-bottom: 50px;
    
    
    
}
.feed form input{
    margin: 10px;
    width: 30%;
    padding: 8px;
    border: none;

} 
.feed form textarea{
    margin: 10px;
    width: 30%;
    padding: 8px;
    border: none;

} 
.feed form button{
    margin: 50px;
    width: 30%;
    background-color: purple ;
    padding: 8px;
    border-radius: 10px;
    border: none;


} 
footer{
    margin-top: 10px;
    padding: 50px;
    background-color: rgb(80, 80, 96);

    
}
footer .pages{
    margin: 10px;

    text-align: center;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    padding: 5px; 
    color: orange;
    font-family: 'Water Brush', cursive;
    font-size: 20px;


}
footer h3{
    font-size: 25px;
    margin: 20px;
}
footer .doc{
    margin: 10px;
    text-align: center;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    padding: 5px;
    font-family: 'Water Brush', cursive;
    font-size: 20px;

    
}
footer .social{
    margin: 10px;
    text-align: center;
}
footer .social a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    padding: 5px;
    font-size: 20px;

    
}
footer .copy{
    text-align: center;
}

